
<div id="dialog">
  <div id="inner">
    <div class="form-title">create avocado event</div>
    <form method="post" action="/avocado">
      <div class="field">
        <label class="field-label" for="on">on</label>
        <input class="field-input" type="date" name="on">
      </div>
      
      <div class="field">
        <label class="field-label" for="at">at</label>
        <input class="field-input"  type="time" name="at">
      </div>
      
      <div class="field">
        <input class="field-input" type="submit" value="create">
      </div>
    </form>
  </div>
</div>
