<div class="signup">signup</div>
<form method="post" action="/signup">
  <div class="field">
    <label class="field-label" for="username">username</label>
    <input class="field-input" type="text" name="username">
  </div>
  
  <div class="field">
    <label class="field-label" for="password">password</label>
    <input class="field-input"  type="password" name="password">
  </div>
	
  <div class="field">
    <label class="field-label" for="confirm">confirm password</label>
    <input class="field-input"  type="password" name="confirm">
  </div>

  <div class="field">
    <input class="field-input" type="submit" value="signup">
  </div>
</form>
